<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>DotSky Designs - {{ page }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'src/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
        <script src="{% static 'src/script.js' %}"></script>
    </head>

    <body>
        {% include "header.html" %}
        
        <div class="bg">    
            {% block content %}{% endblock content %}
        </div>

        {% include "footer.html" %}
    </body>
</html>