<header>
    <a class="home" href="/">DotSky Designs</a>
    <a class="head-button" href="/projects/">Projects</a>
    <div class="midspace"></div>
    <a class="head-button" href="/register/">Log In</a>
</header>