{% extends "base.html" %}

{% block content %}
<div class="head-space">
    <div class="profile"></div>
</div>
            
<div class="info horizontal">
    <aside>
        <h2>DotSky Designs</h2>
        <h3>Ariq Munif Kusuma</h3>
        <h4>ariqmkusuma@gmail.com</h4>
        <p>CitraGran Cibubur Blok E17 No.6</p>
        <p>Jatikarya, Jatisampurna</p>
        <p>Bekasi, Indonesia</p>
                    
        <div class="pad-container vertical">
            <button class="meta-info">Bio</button>
            <button class="meta-info">History</button>
            <button class="meta-info">Achievements</button>
        </div>
    </aside>
    <section>
        <h1>Updates</h1>

        <div class="pad-container reverse">
            <div class="pad">
                <h3>February 14th, 2019</h3>
                <p>
                Happy Valentine's day, everyone! I hope that you have a nice time today!
                I'll see you next week for more updates on my current project.
                See you in the 20th!
                </p>
            </div>

            <div class="pad">
                <h3>February 18th, 2019</h3>
                <p>
                Currently working on an animation for a 2D game. Pretty exhausting since
                I'm using hand drawn animation for every frame. Wish me luck.
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock content %}