{% extends 'status_base.html' %}

{% block content %}
<div class="headspace extended">
    <div class="profile"></div>
    <h1 class="white">Status,</h1>
    <h2 class="white">A status submission app based on Django, made by a 19 year old with clinical depression.</h2>

    <h4 class="white">Developed by DotSky Designs</h4>
    <h4 class="white">AKA Ariq Munif Kusuma</h4>
    <h4 class="white">NPM: 1706039692</h4>
</div>

<footer class="blue fixed-bottom">
    <h4 class="white">&copy;DotSky Designs, all rights reserved.</h4>
</footer>
{% endblock content %}