@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    border-width: 0px;
    box-sizing: border-box;
}

header {
    background-color: rgb(44, 105, 204);
    height: 45px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

aside, section {
    display: flex;
    padding: 60px 40px;
    flex-direction: column;
    flex-grow: 1;
}

aside {
    width: 30%;
    background-color: rgb(44, 105, 204);
    
}

h3.sidebar, p.sidebar {
    color: white;
}

h3.sidebar {
    margin: 15px 0;
}

section {
    width: 90%;
    background-color: rgb(181, 208, 255);
}

h3.meta-select {
    padding: 15px;
    height: 45px;
    background-color: rgb(44, 105, 204);
    color: white;
}

div.meta-content {
    padding: 15px;
    height: 60%;
    background-color: rgb(154, 191, 255);
}

h4.head-font {
    padding: 15px;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 700;
}

button {
    border-radius: 0px;
    background-color: rgb(44, 105, 204);
    height: 100%;
    width: 120px;
    color: white;
}

div.bg {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 70px 30px 30px 30px;
}

div[id="profile"], div[id="profile-dark"] {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-size: cover;
}

div[id="profile"] {
    background-image: url("logo.png");
}

div[id="profile-dark"] {
    background-image: url("logo_dark.png");
}

div[id="meta-set"] {
    height: 100%;
    margin: 40px 0;
}

/* Dark mode */
header.dark, button.dark, h3.meta-select.dark, aside.dark {
    background-color: rgb(30, 30, 30);
}

h4.head-font.dark, button.dark[id="dark-mode"], h3.sidebar.dark, p.sidebar.dark, h1.dark, h2.dark {
    color: rgb(117, 167, 255);
}

div.bg.dark {
    background-color: rgb(63, 63, 63);
}

div.meta-content.dark {
    background-color: rgb(54, 54, 54);
}

section.dark {
    background-color: rgb(46, 46, 46);
}

p.dark, h3.dark, h4.dark {
    color: white;
}