<section>
    <h1>Hey, welcome to my second profile page!</h1>
    <h2>You can't have enough profile pages.</h2>
    <div id="meta-set">
        <h3 class="meta-select" id="bio-select">Bio</h3>
        <div class="meta-content" id="bio-content">
            <p>A partially insane developer.</p>
        </div>
        <h3 class="meta-select" id="proj-select">Projects</h3>
        <div class="meta-content" id="proj-content">
            <p>I currently have nothing to work with.</p>
        </div>
        <h3 class="meta-select" id="ach-select">Achievements</h3>
        <div class="meta-content" id="ach-content">
            <p>Me? Achievements? You gotta be kidding me.</p>
        </div>
    </div>
    </div>
</section>