<aside>
    <div id="profile"></div>
    <div id="profile-dark"></div>
    <h3 class="sidebar">DotSky Designs</h3>
    <p class="sidebar">Ariq Munif Kusuma</h3>
    <p class="sidebar">ariqmkusuma@gmail.com</h3>
</aside>