<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Profile</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'multitheme/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'multitheme/multitheme.js'%}"></script>
</head>

<body>
    <header>
        <h4 class="head-font">DotSky's Secondary Profile Page</h4>
        <button id="dark-mode">Dark Mode</button>
    </header>

    <div class="bg">
        {% include "mt-sidebar.html" %}
        {% include "mt-display.html" %}
    </div>
</body>