@import url("https://fonts.googleapis.com/css?family=Lato");

* {
    font-family: "Lato", sans-serif;
    margin: 0px;
    border-width: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-size: 18px;
    color: #454545;
}

div, header, footer {
    width: 100vw;
}

header, footer {
    display: flex;
    justify-content: center;
}

header {
    height: 60px;
    background-color: #3281ff;
    position: fixed;
    top: 0px;
    display: flex;
}

footer {
    background-color: #646464;
    height: 40px;
}

h2, h4 {
    font-weight: normal;
}

h3, p.footer {
    align-self: center;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

label, ul, li {
    display: none;
}

.white {
    color: white;
}

.blue {
    background-color: #3281ff;
}

.fixed-bottom {
    position: fixed;
    bottom: 0px;
}

div.headspace {
    background-color: #3281ff;
    height: 600px;
    padding: 40px 16%;
    padding-top: 160px;
}

div.extended {
    height: 100vh;
}

div.pad {
    padding: 20px;
    border-radius: 10px;
    background-color: #efefef;
    margin: 10px;
    width: 100%;
}

div.pad-container {
    padding: 10px 25%;
    display: flex;
    flex-direction: column-reverse;
}

div.profile {
    width: 200px;
    height: 200px;
    background-image: url("logo_alternate.png");
    background-size: cover;
    border-radius: 50%;
}

input[type="text"] {
    border-radius: 10px;
    width: 100%;
    height: 120px;
    background-color: white;
    padding: 10px;
}

input[type="submit"] {
    height: 40px;
    width: 120px;
    margin: 20px 0;
    font-size: 18px;
    background-color: #5194ff;
    color: white;
    border-radius: 10px;
}

a {
    height: 100%;
    width: 120px;
    text-decoration-line: none;
    text-align: center;
    padding: 20px;
    font-size: 22px;
}

a.bold {
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {

    h1 {
        font-size: 54px;
    }

    h2 {
        font-size: 22px;
    }
    div.pad-container {
        padding: 10px 15px;
    }

    div.headspace {
        padding: 40px 20px;
    }

    div.extended {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: auto;
    }
}