<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>DotSky Designs - {{ page }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'src/style.css' %}">
    </head>

    <body>
        {% include "altheader.html" %}
        
        <div class="bg">    
            {% block content %}{% endblock content %}
        </div>

        {% include "footer.html" %}
    </body>
</html>