{% extends "altbase.html" %}

{% block content %}
<div class="info extended">
    <h1>Project Manager</h1>

    <section>
        <form method="post">
            
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
            
        </form>
    </section>
    
    <div class="pad-container reverse">

    {% if list_of_projects %}
        
        {% for project in list_of_projects %}
            
            <div class="pad">
                <h2>{{ project.name }}</h2>
                <h3>{{ project.start_date }} - {{ project.end_date }}</h3>
                <h3>{{ project.place }}</h3>
                <h4>Type: {{ project.project_type }}</h4>

                <p>{{ project.description }}</p>
            </div>

        {% endfor %}

    {% else %}

        <div class="pad">
            <p>There are no available projects.</p>
        </div>
    
    {% endif %}

    </div>
</div>
{% endblock content %}