{% extends "base.html" %}

{% block content %}
<div class="info extended">
    <h1>Projects</h1>

    <div class="pad-container reverse">
        {% if list_of_projects %}
        
            {% for project in list_of_projects %}
            
                <div class="pad">
                    <h2>{{ project.name }}</h2>
                    <h3>{{ project.start_date }} - {{ project.end_date }}</h3>
                    <h3>{{ project.place }}</h3>
                    <h4>Type: {{ project.project_type }}</h4>

                    <p>{{ project.description }}</p>
                </div>

            {% endfor %}

        {% else %}

            <div class="pad">
                <p>There are no disclosed projects as of yet. We'll let you know if there will be one. Thanks!</p>
            </div>
    
        {% endif %}
    </div>
</div>
{% endblock content %}