{% extends "base.html" %}

{% block content %}
<div class="info extended horizontal">
    <section>
        <h1>Register</h1>

        <form method='post' id="register-form">
            {% csrf_token %}
            {{ register_form }}
            <input type="submit" name="register" value="Register">
        </form>
    </section>
</div>
{% endblock content %}