<!DOCTYPE html>
<head>
    {% load static %}
    <title>Tech List</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'techlist/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'techlist/script.js' %}"></script>
</head>

<body>
    <header>Tech List</header>
    <div class="bg">
        <h2 id="total-price">Total: 0</h2>
        <div id="list-wrapper">
        </div>
        <div>
            <button id="dec">Previous</button>
            <button id="inc">Next</button>
        </div>
    </div>
</body>