@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

* {
    margin: 0px;
    border: 0px;
    font-family: "Titillium Web", sans-serif;
    box-sizing: border-box;
}

header {
    padding: 5px;
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    background-color: rgb(61, 61, 61);
    color: white;
}

