@import url("https://fonts.googleapis.com/css?family=Lato");

* {
    margin: 0px;
    border-width: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    padding: 0px;
    color: #47525E;
    font-size: 18px;
}

/* Elements only */
header {
    height: 60px;
    width: 100vw;
    background-color: white;
    display: flex;
    position: fixed;
    top: 0;
}

footer {
    height: 60px;
    width: 100vw;
    background-color: #17584B;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

div {
    width: 100%;
    display: flex;
    padding: 100px 10%;
}

h3, h4 {
    font-weight: normal;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

a {
    height: 100%;
    background-color: white;
    flex-grow: 0;
    text-align: center;
    padding: 20px 0;
    text-decoration-line: none;
}

section {
    padding: 0 2%;
    flex-grow: 1;
}

aside {
    min-width: 30%;
}

input {
    font-size: 22px;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
}

/* Class selector only */
.extended {
    min-height: 100vh;
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.reverse {
    flex-direction: column-reverse;
}

/* Everything else specific */
a.home {
    width: 240px;
    font-weight: bold;
}

div.midspace {
    height: 100%;
    flex-grow: 1;
}

a.head-button {
    width: 120px;
}

button.meta-info {
    height: 50px;
    width: 100%;
    background-color: #DCFFF8;
    flex-grow: 0;
    margin: 5px 0;
    text-align: left;
    padding: 0 20px;
}

div.head-space {
    height: 500px;
    padding: 20px 10%;
}

div.border-space {
    height: 60px;
}

div.bg {
    background-image: url("bg.png");
    background-size: cover;
    background-position-y: auto;
    min-height: 100vh;
    flex-direction: column;
    padding: 0px;
}

div.profile {
    padding: 0px;
    background-image: url("logo.png");
    background-size: cover;
    width: 260px;
    height: 260px;
    border-radius: 100%;
    align-self: flex-end;
}

div.info {
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;
    padding: 20px 10%;
}

div.extended {
    padding: 100px 10%;
}

div.pad {
    padding: 20px;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    background-color: #DCFFF8;
    margin: 10px 0px;
}

div.pad-container {
    padding: 40px 0px;
    width: 100%;
}

p.white {
    color: white;
    align-self: center;
    margin: 0 10px;
}

input[type=text] {
    background-color: white;
    border-width: 2px;
    width: 100%;
    border-color: #47525E;
}

input[type=submit] {
    background-color: #DCFFF8;
    width: 200px;
}

/* For mobile stuff */
@media only screen and (max-width: 1000px) {
    a.head-button, div.midspace {
        display: none;
    }
    
    a.home, section, aside {
        width: 100%;
    }

    div {
        justify-content: center;
    }

    section {
        padding: 0;
    }

    .horizontal {
        flex-direction: column;
    }

    div.bg {
        background-position-x: 90%;
    }

    div.head-space {
        height: 400px;
    }

    div.info {
        justify-content: flex-start;
    }
}