{% extends 'status_base.html' %}

{% block content %}
<div class="headspace">
    <h1 class="white">Hello, How Are You Today?</h1>
    <h2 class="white">Type how do you feel today below. Feel free to post anything.</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" id="submit" value="Post">
    </form>
</div>

<div class="status-list">
    {% if list_of_status %}       
        <div class="pad-container">
        {% for status in list_of_status %}
            <div class="pad">
                <p>In {{ status.publish }}, you posted:</p>
                <h4>{{ status.status }}<h4>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <h4>It seems that you haven't posted anything. Feel free to post stuff above!</h4>
    {% endif %}
</div>

<footer>
    <p class="footer white">Congratulations! you've reached the bottom portion! Have a cookie 🍪</p>
</footer>
{% endblock content %}

