<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'status/style.css' %}">
</head>

<body>
    <header>
        <a class="white bold" href="/status/">Status</a>
        <a class="white" href="/status/about/">About</a>
    </header>

    {% block content %}
    {% endblock content %}
</body>
</html>